# Exclude all checkpoints but the model used (YPTF+Single (noPS)
amt/logs/2024/mc13_256_all_cross_v6_xk5_amp0811_edr005_attend_c_full_plus_2psn_nl26_sb_b26r_800k
amt/logs/2024/mc13_256_g4_all_v7_mt3f_sqr_rms_moe_wf4_n8k2_silu_rope_rp_b36_nops
amt/logs/2024/mc13_256_g4_all_v7_mt3f_sqr_rms_moe_wf4_n8k2_silu_rope_rp_b80_ps2
amt/logs/2024/notask_all_cross_v6_xk2_amp0811_gm_ext_plus_nops_b72
# amt/logs/2024/ptf_all_cross_rebal5_mirst_xk2_edr005_attend_c_full_plus_b100

.idea/
LICENSE

amt/src/betas.json


.venv1/
data/

Dockerfile

data/guitarset_yourmt3_16k/audio_hex-pickup_debleeded/
data/guitarset_yourmt3_16k/audio_hex-pickup_original/
data/guitarset_yourmt3_16k/audio_mono-pickup_mix/

